<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallB.QOS.order.dao.OrderDao">

    <select id="findOrder" parameterType="String" resultType="com.smallB.QOS.order.domain.OrderDto">
        SELECT * FROM `order` WHERE order_id = #{order_id} AND store_id = #{store_id}
    </select>

    <select id="findOrders" parameterType="String" resultType="com.smallB.QOS.order.domain.OrderDto">
        SELECT * FROM `order` WHERE store_id = #{store_id}
    </select>

    <insert id="createOrder" parameterType="com.smallB.QOS.order.domain.OrderDto">
        INSERT INTO `order` (`order_type`,`order_time`,`book_time`,`order_id`,`total_price`,`pay_type`,`order_state`,`store_id`,`user_id`)
        VALUES (#{order_type},#{order_time},#{book_time},#{order_id},#{total_price},#{pay_type},#{order_state},#{store_id},#{user_id})
    </insert>
</mapper>