<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallB.QOS.user.dao.UserDao">
    <select id="addUser" parameterType="com.smallB.QOS.user.domain.UserDto" resultType="com.smallB.QOS.user.domain.UserDto">
        INSERT INTO users(`user_id`,`user_name`,`user_pw`,`user_ph`,`user_email`,`store_id`,`status`)
        VALUES (#{user_id},#{user_name},#{user_pw},#{user_ph},#{user_email},#{store_id},#{status})
    </select>

    <select id="findUserById" parameterType="string" resultType="com.smallB.QOS.user.domain.UserDto">
        SELECT * FROM users WHERE user_id = #{user_id}
    </select>

    <update id="updateUser" parameterType="com.smallB.QOS.user.domain.UserDto">
        UPDATE users
        <trim prefix="SET" suffixOverrides=",">
            <if test="user_name != null">user_name= #{user_name},</if>
            <if test="user_pw != null">user_pw = #{user_pw},</if>
            <if test="user_ph != null">user_ph= #{user_ph},</if>
            <if test="user_email != null">user_email= #{user_email},</if>
            <if test="store_id != null">store_id= #{store_id},</if>
            <if test="status != null">status= #{status},</if>
        </trim>
        WHERE
        user_id = #{user_id}
    </update>

    <select id="findUserByStoreId" parameterType="string" resultType="com.smallB.QOS.user.domain.UserDto">
        SELECT * FROM users WHERE store_id = #{store_id}
    </select>

</mapper>